<!doctype html>
<html class="no-js" lang="en" >
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>West Texas A&amp;M</title>
        <!-- build:css css/libraries.min.css -->
        <link rel="stylesheet" href="../../../../../../bower_components/font-awesome/css/font-awesome.css">
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css css/app.min.css -->
        <link rel="stylesheet" href="../../../../../../css/app.css">
        <link rel="stylesheet" href="../../../../../../css/app_override.css">
        <!-- endbuild -->
        <!-- build:js js/vendor/modernizr.min.js -->
        <script src="../../../../../../bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    </head>
    <body>
        <div class="off-canvas-wrap" data-offcanvas>
            <div class="inner-wrap">
                <div class="fixed">
                    <nav class="tab-bar color-primary hide-for-large-up" style="border-bottom: #fff thin solid;">
                        <section class="left-small">
                            <a class="left-off-canvas-toggle menu-icon" href="#">
                                <span></span>
                            </a>
                        </section>
                        <section class="middle tab-bar-section">
                            <!--<h1 class="title">WTAMU</h1>-->                            
                            <!--<a class="logotext" href="http://www.wtamu.edu">
                                WTAMU
                            </a>-->
                        </section>
                        <section class="right-small">
                            <a href="../../../../../../search/"><i class="fa fa-search"></i></a>
                        </section>
                    </nav>
                    <nav class="top-bar color-primary show-for-large-up" data-topbar role="navigation">
                        <section class="top-bar-section  show-for-large-up">
                            <ul class="title-area">
                                <li class="name">
                                    <a class="logotext" href="http://www.wtamu.edu">
                                        West Texas A&amp;M University
                                    </a>
                                </li>
                            </ul>
                        </section>
                        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                        <section class="top-bar-section">
                            <ul class="right" style="padding-top: 12px;">                                
                                <li class="has-dropdown">
                                    <a style="line-height: 2rem" href="#">Go To</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Future Students</a></li>
                                        <li><a href="#">Current Students</a></li>
                                        <li><a href="#">Faculty &amp; Staff</a></li>
                                        <li><a href="#">Alumni &amp; Friends</a></li>
                                        <li><a href="#">Parents &amp; Family</a></li>
                                        <li><a href="#">Visitors</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="az.html" class="button expand">
                                        A-Z
                                    </a>   
                                </li>
                                <li>
                                    <a href="../../../../../../search/" class="button expand">
                                        <i class="fa fa-search" style="margin-top: -1px;"></i>
                                    </a>
                                </li>
                            </ul>
                        </section>
                    </nav>
                    <nav class="top-bar color-secondary scroll-hide" data-topbar role="navigation" style="border-bottom: #581818 thin solid;">
                        <div class="logo-wrapper">
                            <div class="logo">
                                <img alt="image" src="../../../../../../images/WT.png">
                            </div>
                        </div>
                        <section class="top-bar-section show-for-large-up">
                            <ul class="left">
                                <li>
                                    <a href="/about/about-wtamu.aspx">About</a>
                                </li>
                                <li>
                                    <a href="/admissionshub/default.aspx">Admissions</a>
                                </li>
                                <li>
                                    <a href="../../../../../../academics/">Academics</a>
                                </li>
                            </ul>
                            <ul class="right">
                                <li>
                                    <a href="/student-support/default.aspx">Student Support</a>
                                </li>
                                <li>
                                    <a href="/giving/default.aspx">Athletics</a>
                                </li>
                                <li>
                                    <a href="/administration/veterans-services.aspx">Veterans</a>
                                </li>
                            </ul>
                        </section>
                    </nav>                    
                </div>
                <aside class="left-off-canvas-menu">
                    <ul class="off-canvas-list">
                        <li>
                            <label>WTAMU</label>
                        </li>
                        <li>
                            <a href="/about/about-wtamu.aspx">About</a>
                        </li>
                        <li>
                            <a href="/admissionshub/default.aspx">Admissions</a>
                        </li>
                        <li>
                            <a href="../../../../../../academics/">Academics</a>
                        </li>
                        <li>
                            <a href="/student-support/default.aspx">Student Support</a>
                        </li>
                        <li>
                            <a href="/giving/default.aspx">Giving</a>
                        </li>
                        <li>
                            <a href="/administration/veterans-services.aspx">Veterans</a>
                        </li>
                        <li>
                            <a href="az.html">A-Z</a>   
                        </li>
                        <li>
                            <label>Audience</label>
                        </li>
                        <li>
                            <a href="http://www.wtamu.edu/home/future-students.aspx">Future Students</a>
                        </li>
                        <li>
                            <a href="http://www.wtamu.edu/home/current-students.aspx">Current Students</a>
                        </li>
                        <li>
                            <a href="http://www.wtamu.edu/home/faculty-staff.aspx">Faculty &amp; Staff</a>
                        </li>
                        <li>
                            <a href="http://www.buffalum.com/">Alumni &amp; Friends</a>
                        </li>
                        <li>
                            <a href="http://www.wtamu.edu/home/visitors.aspx">Parents &amp; Family</a>
                        </li>
                        <li>
                            <a href="http://www.wtamu.edu/home/visitors.aspx">Visitors</a>
                        </li>
                    </ul>
                </aside>                
                <section class="main-section">
                                 
                    <div class="row">
                        <div class="small-12 small-centered medium-10 medium-centered columns padding-bottom-no">
                            <ul class="breadcrumbs">
                                <li><a href="../../../../../">WTAMU</a></li>
                                <li><a href="../../../../">Academics</a></li>
                                <li><a href="../../../">ANS</a></li>
                                <li><a href="../../">LEES</a></li>
                                <li><a href="../../">Research</a></li>
                                <li><a href="../">AAM Lab</a></li>
                                <li class="unavailable"><a href="./">Research Topic</a></li>
                            </ul>

                            <div class="small-12 medium-6 large-8">
                                <h2>Research Topic</h2>  

                                <p>This is about Research</p>
                                    
                                <p>Bacon ipsum dolor amet pastrami jerky capicola, ham hock shoulder alcatra flank. Boudin burgdoggen beef ribs turducken drumstick andouille. Jerky biltong ground round, spare ribs flank fatback tri-tip swine meatball</p>

                                <p>Brisket strip steak pork chop cupim meatball ball tip chuck shoulder ground round ham bresaola. Strip steak kielbasa bresaola tri-tip, ham hock chicken capicola jowl cupim venison ball tip. Sausage meatloaf tongue chuck. Pastrami pork loin strip steak swine meatball porchetta short ribs.</p>   

                                <p>Bacon ipsum dolor amet pastrami jerky capicola, ham hock shoulder alcatra flank. Boudin burgdoggen beef ribs turducken drumstick andouille. Jerky biltong ground round, spare ribs flank fatback tri-tip swine meatball</p>

                            </div>
                            <div class="small-12 medium-6 large-4 columns">

                                <a href="#" class="small-12 button"><i class="fa fa-flask"></i> Participate in Research</a>

                                <h5>Similar Research</h5>
                                <ul class="side-nav">                                    
                                    <li><a href="#">Research Project</a></li>
                                    <li><a href="#">Research Project</a></li>
                                    <li><a href="#">Research Project</a></li>
                                </ul>                                
                            </div>            
                        </div>
                    </div>        
                    <div class="row">
                        <div class="small-12 small-centered medium-10 medium-centered columns padding-bottom-no">
                            <h2> Research Participants</h2>
                            <ul class="small-block-grid-1 medium-block-grid-2 directory">
                                <!-- filters to just the name portion-->
                                <li class="animation" ng-repeat="person in people | filter:search track by person.phone" ng-show="search.$.length" style="padding-left: 0">
                                    <h3>{{person.name}}</h3>                                            
                                    <div class="caption small-12 medium-12 large-6" style="float: left">
                                        <strong>Title:</strong> {{person.title}}<br />
                                        <strong>Location:</strong> {{person.building}} {{person.room}}<br />
                                        <p class="hide">{{person.expertise}}</p>
                                        <a href="tel:{{person.phone}}">{{person.phone}}</a><br />
                                        <a href="mailto:{{person.email}}">{{person.email}}</a>                                        
                                    </div>
                                    <div class="small-12 medium-12 large-6 dimage">
                                        <div class="small-8 small-centered columns">
                                            <img src="http://cascadetest.wtamu.edu/test/directory/{{person.thumb}}" />
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <a href="#" class="button small-12 large-6">View Biography</a>
                                    </div>
                                </li>
                                <li class="animation" ng-repeat="person in people | filter:search track by person.phone" ng-show="search.$.length" style="padding-left: 0">
                                    <h3>{{person.name}}</h3>                                            
                                    <div class="caption small-12 medium-12 large-6" style="float: left">
                                        <strong>Title:</strong> {{person.title}}<br />
                                        <strong>Location:</strong> {{person.building}} {{person.room}}<br />
                                        <p class="hide">{{person.expertise}}</p>
                                        <a href="tel:{{person.phone}}">{{person.phone}}</a><br />
                                        <a href="mailto:{{person.email}}">{{person.email}}</a>                                        
                                    </div>
                                    <div class="small-12 medium-12 large-6 dimage">
                                        <div class="small-8 small-centered columns">
                                            <img src="http://cascadetest.wtamu.edu/test/directory/{{person.thumb}}" />
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <a href="#" class="button small-12 large-6">View Biography</a>
                                    </div>
                                </li>
                                <li class="animation" ng-repeat="person in people | filter:search track by person.phone" ng-show="search.$.length" style="padding-left: 0">
                                    <h3>{{person.name}}</h3>                                            
                                    <div class="caption small-12 medium-12 large-6" style="float: left">
                                        <strong>Title:</strong> {{person.title}}<br />
                                        <strong>Location:</strong> {{person.building}} {{person.room}}<br />
                                        <p class="hide">{{person.expertise}}</p>
                                        <a href="tel:{{person.phone}}">{{person.phone}}</a><br />
                                        <a href="mailto:{{person.email}}">{{person.email}}</a>                                        
                                    </div>
                                    <div class="small-12 medium-12 large-6 dimage">
                                        <div class="small-8 small-centered columns">
                                            <img src="http://cascadetest.wtamu.edu/test/directory/{{person.thumb}}" />
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <a href="#" class="button small-12 large-6">View Biography</a>
                                    </div>
                                </li>
                                <li class="animation" ng-repeat="person in people | filter:search track by person.phone" ng-show="search.$.length" style="padding-left: 0">
                                    <h3>{{person.name}}</h3>                                            
                                    <div class="caption small-12 medium-12 large-6" style="float: left">
                                        <strong>Title:</strong> {{person.title}}<br />
                                        <strong>Location:</strong> {{person.building}} {{person.room}}<br />
                                        <p class="hide">{{person.expertise}}</p>
                                        <a href="tel:{{person.phone}}">{{person.phone}}</a><br />
                                        <a href="mailto:{{person.email}}">{{person.email}}</a>                                        
                                    </div>
                                    <div class="small-12 medium-12 large-6 dimage">
                                        <div class="small-8 small-centered columns">
                                            <img src="http://cascadetest.wtamu.edu/test/directory/{{person.thumb}}" />
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <a href="#" class="button small-12 large-6">View Biography</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>                 
                    <div class="row secondary">                        

                        <div class="social small-10 small-centered medium-6 medium-centered columns ">
                            
                            <ul class="small-block-grid-5 small-centered">
                                <li class="small-centered">
                                    <a href="#" class="expand">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="expand">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="expand">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="expand">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="expand">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                            
                        </div>
                    </div>                    
                    <div class="footer row color-primary">                        
                        <div class="small-12 small-centered medium-10 medium-centered columns ">
                            <ul class="small-block-grid-1 small-centered medium-block-grid-2">
                                <li class="logo">
                                    <a href="#" class="expand">
                                        <img style="width: auto" alt="The Texas A&M System" src="http://www.wtamu.edu/images/MemberTAMUS.png">
                                    </a>
                                </li>
                                <li class="reg" style="font-size: .75em;">                                    
                                    <a href="/about/web-accessibility.aspx">Accessibility</a> -
                                    <a href="/home/accreditation.aspx">Accreditation</a> -
                                    <a href="/administration/11-consumer-information.aspx">Consumer Information</a><br /> 
                                    <a href="/about/contact-us.aspx">Contact Us</a> -
                                    <a href="/about/emergency-information.aspx">Emergency Information</a> -
                                    <a href="/webres/File/Administrative/EnergyManagementReport.pdf" target="_blank">Energy Management Report</a><br /> 
                                    <a href="/ferpa">Family Educational Rights and Privacy Act (FERPA)</a><br /> 
                                    <a href="/home/link-policy-and-privacy-statement.aspx#forms">Form Policy</a> -
                                    <a href="http://www.wtamu.edu/about/house-bill-2504-requirements.aspx">House Bill 2504</a> -
                                    <a href="https://www.tamus.edu/business/budgets-and-accounting/legislative-appropriations-requests/" target="_blank">Legislative Appropriation Request</a><br /> 
                                    <a href="http://gov.texas.gov/" target="_blank">Texas Homeland Security</a> -
                                    <a href="http://wtamu.edu/webres/File/Administrative/university_org_chart.pdf" target="_blank">University Organizational Chart</a><br /> 
                                </li>                                                                 
                            </ul>                            
                        </div>
                    </div>
                    <div class="row color-secondary">
                        <div class="small-12 small-centered medium-10 medium-centered columns " style="text-align: center; font-size: .75em;">
                            <div>
                                <a target="_blank" href="http://www.state.tx.us/">State of Texas</a> - 
                                <a target="_blank" href="http://veterans.portal.texas.gov">Texas Veterans Portal</a> -
                                <a target="_blank" href="https://secure.ethicspoint.com/domain/en/report_custom.asp?clientid=19681">Risk, Fraud and Misconduct Hotline</a> - 
                                <a target="_blank" href="https://www.tsl.state.tx.us/search/node/">Statewide Search</a> - 
                                <a href="/home/link-policy-and-privacy-statement.aspx">Link Policy and Privacy Statement</a> -
                                <a href="/about/open-records.aspx">Open Records/Public Information Act</a> - 
                                <a href="http://www.wtamu.edu/about/equal-opportunity-nondiscrimination.aspx">Equal Opportunity/Nondiscrimination </a> - 
                                <a target="_blank" href="http://www.txhighereddata.org/approot/resumes/ir_launch.htm">Online Institutional Resumes</a> - 
                                <a target="_blank" href="http://www.thecb.state.tx.us/apps/txcrews/">Texas Consumer Resource for Education and Workforce Statistics (Texas CREWS) </a>
                            </div>

                            <br /> 
                            © West Texas A&amp;M University | 
                            All rights Reserved | 
                            <a href="http://maps.google.com/maps?daddr=35.0902961,-101.7510337">2501 4th Avenue Canyon TX 79015</a> | 
                            <a href="tel:806-290-0000">806-290-0000</a>                     
                        </div>
                    </div>
                </section>   
            </div>
        </div>     
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
        <!-- build:js js/vendor/libraries.min.js -->
        <!-- bower:js -->
        <script src="../../../../../../bower_components/jquery/dist/jquery.js"></script>
        <script src="../../../../../../bower_components/fastclick/lib/fastclick.js"></script>
        <script src="../../../../../../bower_components/jquery.cookie/jquery.cookie.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:js js/vendor/foundation.min.js -->
        <script src="../../../../../../bower_components/foundation/js/foundation/foundation.js"></script>
        <script src="../../../../../../bower_components/foundation/js/foundation/foundation.abide.js"></script>
        <script src="../../../../../../bower_components/foundation/js/foundation/foundation.accordion.js"></script>
        <script src="../../../../../../bower_components/foundation/js/foundation/foundation.alert.js"></script>
        <script src="../../../../../../bower_components/foundation/js/foundation/foundation.clearing.js"></script>
        <script src="../../../../../../bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
        <script src="../../../../../../bower_components/foundation/js/foundation/foundation.equalizer.js"></script>
        <script src="../../../../../../bower_components/foundation/js/foundation/foundation.interchange.js"></script>
        <script src="../../../../../../bower_components/foundation/js/foundation/foundation.joyride.js"></script>
        <script src="../../../../../../bower_components/foundation/js/foundation/foundation.magellan.js"></script>
        <script src="../../../../../../bower_components/foundation/js/foundation/foundation.offcanvas.js"></script>
        <script src="../../../../../../bower_components/foundation/js/foundation/foundation.orbit.js"></script>
        <script src="../../../../../../bower_components/foundation/js/foundation/foundation.reveal.js"></script>
        <script src="../../../../../../bower_components/foundation/js/foundation/foundation.slider.js"></script>
        <script src="../../../../../../bower_components/foundation/js/foundation/foundation.tab.js"></script>
        <script src="../../../../../../bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
        <script src="../../../../../../bower_components/foundation/js/foundation/foundation.topbar.js"></script>
        <!-- endbuild -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
        <!-- build:js js/app.min.js -->
        <script src="../../../../../../js/app.js"></script>
        <!-- endbuild -->
        <script src="../../../../../../js/init.js"></script>

        <script>
        $(document).ready(function () {  
            
            $('.swiper-container').each(function (index) {   

                var phone = $(this).attr('data-phone-slides');  
                if (!phone) {
                        phone = 1;
                    } 

                var tablet = $(this).attr('data-tablet-slides');  
                if (!tablet) {
                        tablet = 1;
                    }

                var desktop = $(this).attr('data-desktop-slides');  
                if (!desktop) {
                        desktop = 1;
                    }

                var time = $(this).attr('data-time');  
                if (!time) {
                        time = 0;
                    }

                var loop = $(this).attr('data-loop');  
                if (!loop) {
                        loop = false;
                    }

                var swiper = new Swiper($(this)[0], {
                    nextButton: '.swiper-button-next',
                    prevButton: '.swiper-button-prev',
                    autoplay: time,
                    loop: loop,
                    lazy: true,
                    autoplayDisableOnInteraction: false,
                    pagination: '.swiper-pagination',
                    paginationClickable: true,
                    slidesPerView: desktop,
                    spaceBetween: 30,
                    breakpoints: {            
                        1024: {
                            slidesPerView: tablet,
                            spaceBetween: 30,
                        },
                        640: {
                            slidesPerView: phone,
                            spaceBetween: 30,
                        }
                    }
                }); 
            });

            function initMap() {
                
                $('.map').each(function (index, Element) {
                    var location = $(Element).attr("data-location").split(",");
                    var zoom = $(Element).attr("data-zoom");
                    var name = $(Element).attr("data-name");

                    if (location.length != 2) {
                        $(this).display = "none";
                        return;
                    }

                    if (!zoom) {
                        zoom = 17;
                    }

                    if (!name) {
                        name = " ";
                    }

                    var latlng = new google.maps.LatLng(parseFloat(location[0]), parseFloat(location[1]));
                    var myOptions = {
                        zoom: parseFloat(zoom),
                        center: latlng,
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        disableDefaultUI: false,
                        mapTypeControl: true,
                        zoomControl: true,
                        zoomControlOptions: {
                            style: google.maps.ZoomControlStyle.SMALL
                        }
                    };
                    var map = new google.maps.Map(Element, myOptions);

                    var marker = new google.maps.Marker({
                        position: latlng,
                        map: map,
                        animation: google.maps.Animation.DROP,
                        label: {
                            color: '#111',
                            fontWeight: 'bold',
                            text: name,
                        }
                    });
                });
            }
            
            $( ".map" ).parent().click(function() {
                $('.map').css('pointer-events','inherit');
            });
            $( ".map" ).parent().mouseleave(function() {
                $('.map').css('pointer-events','none');
            });

        });
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8AZyvuP4epbqCr90jP2523sIWVYfEtQ4&callback=initMap"/></script>
    </body>
</html>