a:not .orbit-container{  
   -o-transition:.3s;
   -ms-transition:.3s;
   -moz-transition:.3s;
   -webkit-transition:.3s;
   transition:.3s;
}

li, .caption{  
   -o-transition:.3s;
   -ms-transition:.3s;
   -moz-transition:.3s;
   -webkit-transition:.3s;
   transition:.3s;
}

.swiper-wrapper{
    border-bottom: 1px solid #fff;
}

.swiper-button-next,
.swiper-button-prev{
    background-image: none !important;
    font-size: 70px;
    margin-top: -60px !important;
    text-shadow: 3px 3px 4px #581818;
}
.swiper-button-next:before{
    background-image: none !important;
    color: #fff;
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.swiper-button-prev:before{
    background-image: none !important;
    color: #fff;
    content: "\f104";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-right: .25rem;
}

.swiper-slide img,
video.banner,
.spotlight img,
video {
    width: 100%;
}

.main-section{
    margin-top: 40px;
}

h1{
    font-size: 2.75em
}
h2{
    font-size: 2.5em
}
h3{
    font-size: 2em
}

h1, h2, h3, h4, h5, h6{
    color: #581818;
    font-weight: Bold;
}

.top-bar .logotext,
.logotext{
    font-family: Georgia;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

a[href^="tel:"]::before {
    content: "\f095";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-right: .25rem;
}

a[href^="mailto:"]::before {
    content: "\f003";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-right: .25rem;
}

a[href^="http://maps.google.com/maps?daddr="]::before {
    content: "\f276";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding-right: .25rem;
}

.top-bar-section ul li > a:hover {
  font-color: ;
}

.nav-wrapper{
    background-color: #581818;
}

.color-gold{
    background-color: #8d7149;
    color: #fff;
}

.color-gold a{
    color: #fff;
}

.f-topbar-fixed,
.f-topbar {
    padding-top: 20px !important;
    margin-top: -10px;
}
.f-topbar-fixed {
    margin-top: -20px;
}

.row {
    max-width: 100%;
    padding-top: 20px;
}

.orbit-container .orbit-slides-container img {
    display: block;
    width: 100%;
}

.orbit-container h1 {
    color: #fff;
}

.orbit-container .orbit-slides-container > * .orbit-caption {
    background-color: rgba(40, 40, 40, 0.4);
}

.top-bar .title-area h1 a {
    color: #581818;
    font-family: Georgia, serif;
}
.tab-bar-section.middle {
    left: 2.8125rem;
    right: none;
    text-align: left;
}

.top-bar-section ul li > a.button {
    font-size: 1.1rem;
}

.audience {
    background: #f3f3f3;
    background: inherit;
}
.audience ul {
    display: block;
    list-style: outside none none;
    margin-left: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}
.audience ul li {
    display: inline;
    font-size: 0.875rem;
    margin: -0.25rem 0 0;
    width: 150px;
}
.audience ul li > a {
    padding: 0 17px;
}
.audience ul li > a:hover {
    text-decoration: underline;
}
.audience .menu a{
    font-size: .8em;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding-top: .4rem;
    padding-bottom: .4rem;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

.audience .menu a:hover{
    background-color: #fff;
    color: #8d7149;
    text-decoration: none;
}

.small{
    font-size: .5em !important;
}

section a:hover{
    text-decoration: underline;
}

.orbit-slide-number,
.orbit-bullets-container{
    display: none;
}

.map{
    height: 400px; 
    pointer-events: none;
}

.top-bar .name {
    height: auto;
}
.top-bar{
    height: auto;
    overflow: inherit;
}
.top-bar-section .has-form {
    background: transparent;
}
.top-bar-section {
    left: 0 !important;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.top-bar-section ul li {
    background-color: transparent;
}
.top-bar-section  li:not(.has-form) a:not(.button) {
    padding: .4rem 0.9375rem;
}
.top-bar-section .left li:not(.has-form) a:not(.button),
.top-bar-section .right li:not(.has-form) a:not(.button) {
    padding: 0 0.9375rem;
}
.top-bar-section1 ul li > a.logotext:hover {
    color: #581818;
}
.top-bar-section1 ul li:hover:not(.has-form) > a,
{
    color: #581818;
}
.top-bar-section1 ul li:hover:not(.has-form) > a.logotext {
    color: #fff;
}
.top-bar-section li:hover:not(.has-form) a:hover:not(.button) {
    background-color: transparent;
}
.top-bar input, .top-bar select, .top-bar .button, .top-bar button {
    font-size: inherit;
    height: 2rem;
    position: relative;
    top: inherit;
}

.logo-wrapper {
    position: relative; 
}

.logo-wrapper .logo {
    border-radius: 25px;
    height: 45px;
    left: 50%;
    margin-left: -25px;
    overflow: hidden;
    position: absolute;
    right: 50%;
    top: -50px;
    width: 50px;
}

.top-bar-section .has-form {
    padding-top: 12px ;
}
nav .fa-search::before
{
    font-size: 1.2rem;
    margin-left: 10px;
}
.top-bar .fa-search::before
 {
    font-size: 1.2rem;
    margin-left: -3px;
}
.right-small,
.left-small {
    border: none;
}

.breadcrumbs {
    background-color: transparent;
    border: none;
    padding: 0.5625rem 0rem;
}

.color-primary{
    background-color: #581818;
    color: #fff;
}
.color-secondary{
    background-color: #fff;

}
.color-3{
    background-color: #666;
    color: #fff;
}

.color-primary a,
.color-primary p{
    color: #fff;
}

.color-primary h1,
.color-primary h2,
.color-primary h3,
.color-primary h4,
.color-primary h5{
    color: #fff;
}

.color-3 h1,
.color-3 h2,
.color-3 h3,
.color-3 a,
.color-3 i{
    color: #fff;
}

.social i{
    font-size: 2.5em
}
.social .small-block-grid-5 > li {
    text-align: center;
}

.footer .reg,
.footer .logo{
    text-align: center;
}

.news,
.spotlight,
.featured,
.events,
.social{
    padding-top: 50px;
    padding-bottom: 50px;
}

.news img{
    width: 100%;
    overflow: hidden;
}

.spotlight ul li{
    padding-top: 10px;
}

.spotlight ul li:hover{
    background-color: #581818;
    color: #fff;
}

.spotlight ul li a:hover{
    background-color: #581818;
    color: #fff;
}

.featured ul li > a, 
.border {
    -moz-appearance: none;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 .20rem;
    padding: 1.5rem 2rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 300ms ease-out 0s;
    float: left;
    border: .15rem solid;
    text-transform: uppercase;
}

.events ul li a{
    font-size: 1.5rem;
}

.events .border{
    margin-right: 1.5rem;
    width: 150px;
    padding: 1rem 1rem 1.0625rem;
}

@media screen and (min-width: 640px) {

    .main-section{
        margin-top: 60px;
    }

    .top-bar-section {
        width: 83.333%;
    }

    .top-bar-section ul li > a {
        font-size: .95rem;
    }

    .footer .reg{
        float: right;
        text-align: right;
    }
    .footer .logo{
        text-align: left;
    }

    .news ul li{
        position: relative;
    }

    .news ul li:nth-of-type(1){
        height: 400px;
        width: 60%;
        overflow: hidden;
    }

    .news ul li:nth-of-type(2){
        margin-bottom: 20px;
    }

    .news ul li:nth-of-type(2),
    .news ul li:nth-of-type(3){
        height: 190px;
        width: 40%;
        overflow: hidden;
    }

    .news h3{
        background-color: transparent;
    }

    .news .caption{
        position: absolute;
        bottom: -70px;
        width: 98%;
        background-image: url('../images/transMaroon.png');
    }

    .news .caption:hover{
        bottom: 0px;
    }

    .news .caption h3,
    .news .caption p{
        padding-left: 10px;
        padding-right: 10px;
    }

    .audience .menu a{
        font-size: 1.2em;
    }

    .map{
        height: 300px; 
        pointer-events: none;
    }

    .social i{
        font-size: 2em
    }
    .breadcrumbs {
        background-color: transparent;
        border: medium none;
        padding: 1rem 0rem;
    }
    .right {
        padding-left: 10px;
    }

}


/* Medium-Up Navigation */

@media only screen and (min-width: 40rem) {

    .main-section{
        margin-top: 45px;
    }

    .logo-wrapper {
        position: relative; 
    }

    .logo-wrapper .logo {
        border-radius: 40px;
        height: 80px;
        margin-left: -40px;
        top: -50px;
        width: 80px;
    }

    .top-bar-right {
        width: 50%;
        padding-left: 86px; 
    }
    .top-bar-right ul {
        float: left; 
    }

    .top-bar-left {
        width: 50%;
        padding-right: 86px; 
    }

    .top-bar-left ul {
        float: right; 
    } 

    .banner video{
    }
}

@media only screen and (min-width: 1024px) {

    .main-section{
        margin-top: 0px;
    }

    .f-topbar-fixed,
    .f-topbar {
        padding-top: 120px !important;
    }

    .top-bar .logotext,
    .logotext{
        font-family: Georgia;
        font-size: 18px;
        letter-spacing: 4px;
        text-transform: uppercase;
    }

    .logo-wrapper .logo {
        border-radius: 45px;
        height: 90px;
        left: 50%;
        margin-left: -45px;
        top: -55px;
        width: 90px;
    }

    .medium-10 {
        max-width: 1024px
    }
}
